* {
    box-sizing: border-box;
}

body {
    background: #DCDCDC;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    margin-bottom: -75px;
}

/* ========== GLOBAL NAVBAR ========== */
#global-header {
    border-bottom: 5px solid #FFA500;
}
.navbar {
    margin: 0 auto;
}

#navbarNav .nav-item {
    color: #fff;
    margin-right: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: color 1s;
}

#navbarNav .nav-item:hover {
    color: #FFA500;
}

/* ===== Logo ===== */
.navbar-brand img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

/* ===== Hamburger Menu ===== */
.navbar-light .navbar-toggler {
    border-color: #fff;
    outline: none;
}

#toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar-light .navbar-toggler:hover {
    border-color: #FFA500;
}

#toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,165,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}



/* ==================== MAIN PAGE ==================== */
#main-content-container {
    background: url(../images/mainbackground.jpeg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

#main-form {
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: transparent;
}

#main-form::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.25));
}

#main-form label {
    color: #fff;
}

.push {
    height: 75px;
}




/* ==================== TRAVEL.HTML PAGE ==================== */
#btnInfoRow {
    margin: 0 0 20px 0;
}

.btn-tabs {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-tabs:hover {
    background: #FFA500;
    border: 1px solid #000;
    box-shadow: 0px 5px 5px 1px #000000;
}
/* ========== WEATHER AND TRAVEL INFO CONTAINER ========== */
.weather-travel-info-container {
    display: flex;
}

/* ===== OPENWEATHER CONTAINER ===== */
.fas {
    color: #FFFF00;
    text-shadow:
		-1px -1px 0 #FFA500,
		1px -1px 0 #FFA500,
		-1px 1px 0 #FFA500,
		1px 1px 0 #FFA500;
}

.fiveDayForecast {
    width: 295px;
    margin-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #007BFF;
    text-align: center;
    letter-spacing: .1em;
}

#weather-data {
    display: flex;
    width: 295px;
    margin: 0 20px 20px 20px;
    -webkit-box-shadow: 0px 5px 5px 1px #000000; 
    box-shadow: 0px 5px 5px 1px #000000;
}

.forecast-card {
    width: 59px;
    height: 135px;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
    background: #fff;
}

.weather-temp {
    height: 33%;
}

.weather-description {
    height: 33%;
    font-size: 10px;
}

.weather-date {
    height: 33%;
}

#day-01,
#day-11,
#day-21,
#day-31 {
    border-right: none;
}

/* ===== FLIGHT, HOTELS, AND FOOD INFO CONTAINER ===== */
.container-api {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#infoBox {
    margin: 0 0 20px 0;
    width: 50%;
}

/* ===== FLIGHT INFO ===== */
.flightBox {
    background: url(../images/flight.jpeg);
    border: 1px solid #000;
}

.flightBox p {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: .1em;
    font-size: 20px;
    margin-bottom: 5px;
}

.flightBox span {
    font-weight: 700;
}

/* ==================== FAVORITES PAGE ====================  */
.favorites-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites {
    margin-right: 40px;
    outline: none;
}

/* ===== GLOBAL FOOTER ====== */
.global-footer {
    width: 100%;
    height: 75px;
    margin: 0;
    color: #fff;
    background: #007BFF;
    border-top: 5px solid #FFA500;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .flightBox h1 {
        font-size: 24px;
    }
}
 
  