* {
    box-sizing: border-box;
}

body {
    
}













/* ========== TRAVEL.HTML PAGE ========== */

/* ===== OPENWEATHER CONTAINER ===== */
.forecast-card {
    width: 50px;
    height: 100px;
    border: 1px solid #000;
}

#day1,
#day2,
#day3,
#day4 {
    border-right: none;
}
